.cursorrules
.ai
.idea
tests
manual_test.py
sdks/*/__pycache__
models/__pycache__
utils/__pycache__
sdks/__pycache__
.DS_Store
sdks/captcha_sdk/captcha_test.py
.env
.vscode
.venv
sdks/exchanges_sdk/tests_sdk.py
utils/logs
~$Soft_settings.xlsx
status.json
sdks/lombard_sdk/__pycache__