.cursorrules
.ai
.idea
tests
manual_test.py
*/__pycache__
.DS_Store
sdks/captcha_sdk/captcha_test.py
#.env
.vscode
.venv
sdks/exchanges_sdk/tests_sdk.py
utils/logs
~$Soft_settings.xlsx
status.json
sdks/lombard_sdk/__pycache__